@model IEnumerable<AuthMovie.Movie>
@{
    Layout=null;
}
<h1>Movies:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearReleased)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearReleased)
            </td>
        id = (int)ViewData["userId"] 
        if(id != 0){
            if(item.Id != id){
            <td>
                    <a asp-action="AddToPlaylist" asp-route-id="@item.Id">Add To Playlist</a>
            </td>
            }
        }
        
        </tr>
}
    </tbody>
</table>